<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Account | Kaffemaschinen.ch</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="assets/css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="assets/css/jquery.bxslider.css">
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="assets/css/flexslider.css">
    <link rel="stylesheet" href="assets/css/swiper.css">
    <link rel="stylesheet" href="assets/css/swiper.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/media.css">
    </head>
    <body class="">
        <!-- Header - start -->
<header class="header">

    <!-- Topbar - start -->
    <div class="header_top">
        <div class="container">
            <ul class="contactinfo nav nav-pills">
                <li>
                   domain
                </li>
                
            </ul>
            <div class="shop-menu">
                <ul>

                    <li class="topauth">
                        <a href="reg.html">
                            <i class="fa fa-lock"></i>
                            <span class="shop-menu-ttl">Registrierung</span>
                        </a>
                        <a href="login.html">
                            <span class="shop-menu-ttl">Login</span>
                        </a>
                    </li>

                    <li>
                        <div class="h-cart">
                            <a href="cart.html">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="shop-menu-ttl">Warenkorb</span>
                                (<b>0</b>)
                            </a>
                        </div>
                    </li>

                </ul>
            </div>	</div>
    </div>
  
    <!-- Topmenu - start -->
    <div class="header-bottom">
        <div class="container">
            <nav class="topmenu">


                <!-- Main menu - start -->
                <button type="button" class="mainmenu-btn">Menu</button>

                <ul class="mainmenu sections-show">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="lavazza.html">
                            Lavazza
                        </a>
                    </li>
                    <li>
                        <a href="borbone.html">
                            Borbone
                        </a>
                    </li>
                    <li>
                        <a href="gastro.html">
                            Gastro
                        </a>
                    </li>
                    <li>
                        <a href="kaffebohnen.html" >
                            Kaffeebohnen
                        </a>
                    </li>
                    
                    <li>
                        <a href="zuberhor.html">
                            Zubehör
                        </a>
                    </li>
                </ul>
                <!-- Main menu - end -->

                <!-- Search - start -->
                <div class="topsearch">
                    <form class="topsearch-form" action="#">
                        <input type="text" placeholder="Search products">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Search - end -->

            </nav>		</div>
    </div>
    <!-- Topmenu - end -->

</header>
<!-- Header - end -->
        

		
<main class="padd" style="padding-bottom: 157px; padding-top: 20px;">	
  <div class="container" id="pozadina">
    <div class="bat">
		<div class="row">
            
			<div class="col-sm-3 vertical-menu">
                <a id="slika"><img src="slika.jpg"><br>Vorname Nachname</a>
            <div class="section-sb profile_section-sb">

                <!-- Catalog Categories - start -->
                <div class="section-sb-current">
                    <ul class="section-sb-list profile_section-sb-list" id="section-sb-list">
                        <li class="categ-1">
                            <a href="overview.html">
							<span class="categ-1-label">Overview</span>
						</a>
                        </li>
                        <li class="categ-1">
                            <a href="account.html">
							<span class="categ-1-label">Edit Account</span>
						</a>
                        </li>
                        <li class="categ-1">
                            <a href="order.html">
							<span class="categ-1-label">My Order</span>
						</a>
                        </li>
                        <li class="categ-1">
                            <a href="password.html">
							<span class="categ-1-label">Change Password</span>
						</a>
                        </li>
                        <li class="categ-1">
                            <a href="#">
							<span class="categ-1-label">Logout</span>
						</a>
                        </li>
                    </ul>

                </div>
                <!-- Catalog Categories - end -->



            </div>
				
			</div>
			<div class="col-sm-9 profile-info">
				<h3 class="main-ttl"><span>Profile Details Panel</span></h3>
				<div class="row space">
					<div class="auth-wrap">
          
					<div class="table-responsive">          
						<table class="table">
                            <thead>
							  <tr>
								<th>ID</th>
								<th>Shipping Option</th>
								<th>Payment Option</th>
								<th>Status</th>
								<th>View</th>
							  </tr>
							</thead>
                            <tbody>
								<tr>
								<td>1</td>
								<td>freeshipping</td>
                                <td>pickup</td>
                                <td>Pending</td>
                               <td><a href="#" style="color: cornflowerblue">View</a></td>
							  </tr>
                            </tbody>
						</table>
					</div>
				
                </div>
				</div>
                <p class="auth-submit">
                        <input type="submit" value="Save Changes">
                    </p> 
			</div>
		</div>
      </div>
    </div>  
</main>    
<!-- Footer - start -->
<footer class="footer-wrap">
    

    <div class="container f-menu-list">
        <div class="row">
            <div class="f-menu">
                <ul class="nav nav-pills nav-stacked">
                     <li><a href="#">Privacy Policy</a></li>
                     <li><a href="#">Impressum</a></li>
                     <li><a href="contacts.html"><i class="fa fa-envelope-open-o" aria-hidden="true"></i>Contact Form</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                   Social Media
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                    
                </ul>
            </div>
            
            <div class="f-subscribe">
                <h3>Newsletter abonnieren</h3>
                <form class="f-subscribe-form" action="#">
                    <input placeholder="Your e-mail" type="text">
                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <p>Geben Sie Ihre Emailadresse ein, wenn Sie unseren Newsletter erhalten möchten. Abonnieren Sie jetzt!</p>
            </div>
        </div>
    </div>

    

</footer>
<!-- Footer - end -->


<!-- jQuery plugins/scripts - start -->
<script src="assets/js/jquery-1.11.2.min.js"></script>
<script src="assets/js/jquery.bxslider.min.js"></script>
<script src="assets/js/fancybox/fancybox.js"></script>
<script src="assets/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script src="assets/js/jquery.flexslider-min.js"></script>
<script src="assets/js/swiper.jquery.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/progressbar.min.js"></script>
<script src="assets/js/ion.rangeSlider.min.js"></script>
<script src="assets/js/chosen.jquery.min.js"></script>
<script src="assets/js/jQuery.Brazzers-Carousel.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
<script src="assets/js/gmap.js"></script>
<!-- jQuery plugins/scripts - end -->
        
    </body>
</html>
