
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>Single Product | Kaffemaschinen.ch</title>

	<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700ii%7CRoboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic" rel="stylesheet">

	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/ion.rangeSlider.css">
	<link rel="stylesheet" href="assets/css/ion.rangeSlider.skinFlat.css">
	<link rel="stylesheet" href="assets/css/jquery.bxslider.css">
	<link rel="stylesheet" href="assets/css/jquery.fancybox.css">
	<link rel="stylesheet" href="assets/css/flexslider.css">
	<link rel="stylesheet" href="assets/css/swiper.css">
	<link rel="stylesheet" href="assets/css/swiper.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/media.css">

</head>
<body>
<!-- Header - start -->
<header class="header">

    <!-- Topbar - start -->
    <div class="header_top">
        <div class="container">
            <ul class="contactinfo nav nav-pills">
                <li>
                   domain
                </li>
                
            </ul>
            <div class="shop-menu">
                <ul>

                    <li class="topauth">
                        <a href="reg.html">
                            <i class="fa fa-lock"></i>
                            <span class="shop-menu-ttl">Registrierung</span>
                        </a>
                        <a href="login.html">
                            <span class="shop-menu-ttl">Login</span>
                        </a>
                    </li>

                    <li>
                        <div class="h-cart">
                            <a href="cart.html">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="shop-menu-ttl">Warenkorb</span>
                                (<b>0</b>)
                            </a>
                        </div>
                    </li>

                </ul>
            </div>	</div>
    </div>
  
    <!-- Topmenu - start -->
    <div class="header-bottom">
        <div class="container">
            <nav class="topmenu">


                <!-- Main menu - start -->
                <button type="button" class="mainmenu-btn">Menu</button>

                <ul class="mainmenu sections-show">
                    <li>
                        <a href="index.html">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="lavazza.html">
                            Lavazza
                        </a>
                    </li>
                    <li>
                        <a href="borbone.html">
                            Borbone
                        </a>
                    </li>
                    <li>
                        <a href="gastro.html">
                            Gastro
                        </a>
                    </li>
                    <li>
                        <a href="kaffebohnen.html">
                            Kaffeebohnen
                        </a>
                    </li>
                    
                    <li>
                        <a href="zuberhor.html">
                            Zubehör
                        </a>
                    </li>
                </ul>
                <!-- Main menu - end -->

                <!-- Search - start -->
                <div class="topsearch">
                    <form class="topsearch-form" action="#">
                        <input type="text" placeholder="Search products">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- Search - end -->

            </nav>		</div>
    </div>
    <!-- Topmenu - end -->

</header>
<!-- Header - end -->


<!-- Main Content - start -->
<main>
	<section class="container" style="padding-top: 50px;" id="pozadina">


	
		<!-- Single Product - start -->
		<div class="prod-wrap">

			<!-- Product Images -->
			<div class="prod-slider-wrap">
				<div class="prod-slider">
					<ul class="prod-slider-car">
						<li>
							<a data-fancybox-group="product" class="fancy-img" href="assets/img/products/single/1.jpg">
								<img src="assets/img/products/single/1.jpg" alt="">
							</a>
						</li>
						<li>
							<a data-fancybox-group="product" class="fancy-img" href="assets/img/products/single/13.jpg">
								<img src="assets/img/products/single/14.jpg" alt="">
							</a>
						</li>
						
					</ul>
				</div>
				<div class="prod-thumbs">
					<ul class="prod-thumbs-car">
						<li>
							<a data-slide-index="0" href="#">
								<img src="assets/img/products/single/1.jpg" alt="">
							</a>
						</li>
						<li>
							<a data-slide-index="1" href="#">
								<img src="assets/img/products/single/13.jpg" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- Product Description/Info -->
            <h1 class="main-ttl"><span>Aperiam nihil veniam</span></h1>
            
			<div class="prod-cont">
				<div class="prod-cont-txt">
                    
					Quis temporibus hic reprehenderit explicabo odio earum maxime cupiditate mollitia magni laboriosam illum adipisci, ipsam, repellendus optio esse dolorem incidunt debitis eius voluptate expedita assumenda
				</div>
				
				
				<div class="prod-info">
					<p class="prod-price">
						<b>CHF 59</b>
                        <del>CHF 110</del>
					</p>
					<p class="prod-qnt">
						<input value="1" type="text">
						<a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
						<a href="#" class="prod-minus"><i class="fa fa-angle-down"></i></a>
					</p>
					<p class="prod-addwrap">
						<a href="#" class="prod-add" rel="nofollow">In den Warenkorb</a>
					</p>
				</div>
                <!-- Share Links -->
            <div class="post-share-wrap">
                
                <ul class="post-share">
                    <li>
                        <a onclick="window.open('https://www.facebook.com/sharer.php?s=100&amp;p[url]=http://allstore-html.real-web.pro','sharer', 'toolbar=0,status=0,width=620,height=280');" data-toggle="tooltip" title="Share on Facebook" href="javascript:">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a onclick="popUp=window.open('http://twitter.com/home?status=Post with Shortcodes http://allstore-html.real-web.pro','sharer','scrollbars=yes,width=800,height=400');popUp.focus();return false;" data-toggle="tooltip" title="Share on Twitter" href="javascript:;">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a onclick="popUp=window.open('http://vk.com/share.php?url=http://allstore-html.real-web.pro','sharer','scrollbars=yes,width=800,height=400');popUp.focus();return false;" data-toggle="tooltip" title="Share on VK" href="javascript:;">
                            <i class="fa fa-vk"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" title="Share on Pinterest" onclick="popUp=window.open('http://pinterest.com/pin/create/button/?url=http://allstore-html.real-web.pro&amp;description=AllStore HTML Template&amp;media=http://discover.real-web.pro/wp-content/uploads/2016/09/insect-1130497_1920.jpg','sharer','scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript:;">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" title="Share on Google +1" href="javascript:;" onclick="popUp=window.open('https://plus.google.com/share?url=http://allstore-html.real-web.pro','sharer','scrollbars=yes,width=800,height=400');popUp.focus();return false;">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" title="Share on Linkedin" onclick="popUp=window.open('http://linkedin.com/shareArticle?mini=true&amp;url=http://allstore-html.real-web.pro&amp;title=AllStore HTML Template','sharer','scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript:;">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tooltip" title="Share on Tumblr" onclick="popUp=window.open('http://www.tumblr.com/share/link?url=http://allstore-html.real-web.pro&amp;name=AllStore HTML Template&amp;description=Aliquam%2C+consequuntur+laboriosam+minima+neque+nesciunt+quod+repudiandae+rerum+sint.+Accusantium+adipisci+aliquid+architecto+blanditiis+dolorum+excepturi+harum+ipsa%2C+ipsam%2C...','sharer','scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript:;">
                            <i class="fa fa-tumblr"></i>
                        </a>
                    </li>
                </ul>

            


        </div>
			</div>

			

		</div>
		<!-- Single Product - end -->

		

	</section>
</main>
<!-- Main Content - end -->


<!-- Footer - start -->
<footer class="footer-wrap">
    

    <div class="container f-menu-list">
        <div class="row">
            <div class="f-menu">
                <ul class="nav nav-pills nav-stacked">
                     <li><a href="#">Privacy Policy</a></li>
                     <li><a href="#">Impressum</a></li>
                     <li><a href="contacts.html"><i class="fa fa-envelope-open-o" aria-hidden="true"></i>Contact Form</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                   Social Media
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                    
                </ul>
            </div>
            
            <div class="f-subscribe">
                <h3>Newsletter abonnieren</h3>
                <form class="f-subscribe-form" action="#">
                    <input placeholder="Your e-mail" type="text">
                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <p>Geben Sie Ihre Emailadresse ein, wenn Sie unseren Newsletter erhalten möchten. Abonnieren Sie jetzt!</p>
            </div>
        </div>
    </div>

    

</footer>
<!-- Footer - end -->


<!-- jQuery plugins/scripts - start -->
<script src="assets/js/jquery-1.11.2.min.js"></script>
<script src="assets/js/jquery.bxslider.min.js"></script>
<script src="assets/js/fancybox/fancybox.js"></script>
<script src="assets/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script src="assets/js/jquery.flexslider-min.js"></script>
<script src="assets/js/swiper.jquery.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/progressbar.min.js"></script>
<script src="assets/js/ion.rangeSlider.min.js"></script>
<script src="assets/js/chosen.jquery.min.js"></script>
<script src="assets/js/jQuery.Brazzers-Carousel.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
<script src="assets/js/gmap.js"></script>
<!-- jQuery plugins/scripts - end -->

</body>
</html>